@import "_normalize";

// Import googlefont Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "_variables";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

main {
  float: left;
  width: 100%;
}

.material-icons {
  vertical-align: middle;
  padding-bottom: 2px;
}

@import "components/_header";
@import "components/_media-list";
@import "components/_tabs";
